.Header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: teal;
  padding: 0 2rem;
}

.Search{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Search label{
  margin: auto;
  padding: 1.2em;
  color: white;
}

.Search input{
  width: 15em;
}

.Button {
  display: flex;
  margin: 1em auto;
  cursor: pointer;
  font: inherit;
  color: teal;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.Button:hover {
  color: white;
  background-color: rgb(3, 163, 163);
}

.Button:focus{
    outline: none;
}

.Link {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: teal;
  border: none;
  background-color: rgba(255, 255, 255, 0.877);
  width: 4.5em;
  height: 1.1em;
  justify-content: center;
  text-align: center;
  font-size: 1.4em;
  border-radius: 3em;
  margin: 1.1em;
}

.Link:hover {
  color: white;
  background-color: rgb(3, 163, 163);
}

.Link:focus{
  outline: none;
}
