.Paragraph {
    display: flex;
    grid-template-columns: 1fr;
    background-color: azure;
    margin-left: 1.2em;
    margin-right: 1.2em;
    border: 1px solid black;
    margin-top: 2px;
  }
  
  .Paragraph img {
    height: 7.5em;
    width: 7.5em;
    margin: 20% auto;
  }
  
  .Link {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-top: 1.1em;
  }
  
  .Link:hover {
    color: rgb(30, 178, 247);
  }
  
  .ColumnOne{
      width: 75%;
      padding: 2px
  }
  
  .ColumnTwo{
      width: 25%;
      padding: 2px
  }