.Form{
margin: 10% auto;
width: 20em;
height: 20em;
padding: 3px;
box-sizing: border-box;
grid-template-rows: 1 1 1;
border: 1px solid black;
align-items: center;
justify-items: center;
background-color: #fefefe;
}

.Form label, input, button{
    position: relative;
    display: block;
    margin: 10% auto;
    padding: 3px;
    align-items: center;
    justify-items: center;
}

.Form label{
    color: teal;
    font-size: 2em;
    text-align: center;
}

.Form input{
    border: 0.5px solid teal;
}
input:focus{
    border: 1px solid teal;
}



.Button{
    position: relative;
    margin: 5px auto;
    bottom: -3em;
    cursor: pointer;
    font: inherit;
    color: teal;
    border: none;
    background-color: none;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
}

.Button:hover{
    color: white;
    background-color: teal;
}