* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: white;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2% auto;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid teal;
  color: teal;
  cursor: pointer;
}

.paginationBttns a:hover{
    color: white;
    background-color: teal;
}

.paginationActive a{
    color: white;
    background-color: teal;
}





